.app-input {
  -webkit-appearance: none;
  font-family: "American Typewriter";

  @media (max-width: 1024px) { // phone
    width: 60%;
    height: 60%;
  }
  @media (min-width: 1025px) { // desktop
    width: 90%;
    height: 90%;
  }

  text-align: center;
  border: none;
  outline: none;
  @include text(unset, 1em, 700);

  &:focus {
    border: 2px solid getOpacity($ku-primary, 0.6);
  }
}
.wrong-input {
  color: getOpacity($ku-warning, 1);
  background: getOpacity($ku-warning, 0.5);
  border: 2px solid getOpacity($ku-warning, 0.5) !important;
}

.right-input {
  color: getOpacity($ku-primary, 1);
}
