@import "../functions/hex-to-rgba";
@import "../variables/variable";
@import "font";
.app-select {
  border-radius: 100px;
  background: url("https://img.icons8.com/metro/26/56CCF2/expand-arrow.png")
    no-repeat 92% 53%;
  background-size: 0.6em;
  outline: none;
  border: 2px solid getOpacity($ku-primary, 0.8);
  padding: {
    left: 3em;
    top: 0.5em;
    right: 3em;
    bottom: 0.65em;
  }
  background-color: getOpacity($ku-primary, 0.2);
  -webkit-appearance: none;
  @include text(getOpacity($ku-primary, 1), 1em, 700);
}
